{% if include.hidehtml %}
{% else %}
{% highlight html %}
{{ include.html }}
{% endhighlight %}
{% endif %}

{% highlight css %}
{{ include.style }}
{% endhighlight %}

<div class='demo-container' style='{% if include.height %}height: {{ include.height }}px;{% endif %}'>
  <iframe class='demo {% if include.resize %}demo-resize{% endif %}' style='{% if include.resize %}width: {{ include.resize }}%;{% endif %}' srcdoc="<style>html,body{margin:0;height:100%;}{{ include.style }}</style>{{ include.html }}"></iframe>
  {% if include.resize %}
  <div class='demo-spacer'>
    <div class='demo-drag-prompt'><span>Drag to resize</span></div>
  </div>
  {% endif %}
</div>
