
{% highlight html %}
{{ include.html }}
{% endhighlight %}

{% highlight css %}
{{ include.style }}
{% endhighlight %}

<style>
{% if include.height %}
.demo-container{
  height: {{ include.height }}px;
}
{% endif %}

{% if include.resize %}
.demo{
  width: {{ include.resize }}%;
}
{% endif %}
</style>

<div class='demo-container'>
  <iframe class='demo' srcdoc="<style>{{ include.style }}</style>{{ include.html }}"></iframe>
  {% if include.resize %}
  <div class='demo-spacer'>
    <div class='demo-drag-prompt'><span>Drag to resize</span></div>
  </div>
  {% endif %}
</div>
