<div class='topbar'>
  <div class='topbar-logo-small'><a href='/'><img src='/img/sf-logo-color.svg'></a></div>
  <div class='topbar-logo-wide'><a href='/'><img src='/img/sf-logo-wide.svg'></a></div>
  <div class='topbar-inner custom-link'>
    <div class='topbar-logo'><a href='/'><img src='/img/sf-logo-wide.svg'></a></div>
    <div class='topbar-item'><a href='/'>Home</a></div>
    <div class='topbar-item'><a href='/about'>About</a></div>
    <div class='topbar-item yt'><a href=''><i class='fab fa-youtube'></i> Videos</a></div>
    <div class='topbar-item tw'><a href=''><i class='fab fa-twitter'></i> Don't Miss A Post</a></div>
  </div>
  <div class='topbar-hamburger'><span><i class="fas fa-bars"></i></span></div>
</div>
<div class='topbar-spacer'></div>
<script src='/js/menu.js'></script>
